certifi==2025.8.3
charset-normalizer==3.4.3
coloredlogs==15.0.1
flatbuffers==20181003210633
humanfriendly==10.0
idna==3.10
joblib==1.5.2
mpmath==1.3.0
numpy==1.26.4
onnxruntime==1.23.0
openwakeword==0.5.1
packaging==25.0
protobuf==6.32.1
PyAudio==0.2.14
requests==2.32.5
scikit-learn==1.7.2
scipy==1.16.2
sympy==1.14.0
tflite-runtime==2.14.0
threadpoolctl==3.6.0
tqdm==4.67.1
urllib3==2.5.0
